<!-- Lista de relaciones inmueble-propietario con porcentajes -->
<div class="list-wrapper">
  <h2>Listado de Porcentajes de Propiedades</h2>

  <!-- Tabla de relaciones inmueble-propietario -->
  <table>
    <!-- Encabezados de la tabla -->
    <thead>
    <tr>
      <th>ID</th>
      <th>Propiedad</th>
      <th>Propietario</th>
      <th>Porcentaje (%)</th>
      <th>Creación</th>
      <th>Actualizado</th>
      <th>Acciones</th>
    </tr>
    </thead>

    <!-- Contenido de la tabla -->
    <tbody>
    <!-- Lista de relaciones existentes -->
      @for (item of estateOwners; track item.id) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.estate_name }}</td>
          <td>{{ item.owner_name }}</td>
          <td>{{ item.ownership_percentage }}</td>
          <td>{{ item.date_create | dataFormat }}</td>
          <td>{{ item.date_update| dataFormat }}</td>
          <!-- Botones de acción por relación -->
          <td>
            <button (click)="editEstateOwners(item.id!)">Editar</button>
            <button (click)="deleteEstateOwners(item.id!)">Eliminar</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
