<div class="list-wrapper">
  <h2>Listado de Clientes</h2>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Tipo de Cliente</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Nombre Empresa</th>
      <th>Identificación</th>
      <th>Teléfono</th>
      <th>email</th>
      <th>Dirección</th>
      <th>C.P</th>
      <th>Localidad</th>
      <th>Provincia</th>
      <th>Pais</th>
      <th>Fecha creación</th>
      <th>Fecha actualizacón</th>
      <th>Acciones</th>
    </tr>
    </thead>
    @if (clients && clients.length > 0) {
      <tbody>
        @for (client of clients; track client.id) {
          <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.type_client }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.lastname }}</td>
            <td>{{ client.company_name }}</td>
            <td>{{ client.identification }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.address }}</td>
            <td>{{ client.postal_code }}</td>
            <td>{{ client.location }}</td>
            <td>{{ client.province }}</td>
            <td>{{ client.country }}</td>
            <td>{{ client.date_create | dataFormat }}</td>
            <td>{{ client.date_update | dataFormat }}</td>

            <td>
              <button (click)="editClient(client.id!)">Editar</button>
              <button (click)="deleteClient(client.id!)">Eliminar</button>
            </td>
          </tr>
        }
      </tbody>
    } @else {
      <tr>
        <td colspan="16" class="no-clients-cell">
          <div class="no-clients-card">
            <h3>Sin Clientes</h3>
            <p>No hay clientes disponibles en este momento.</p>
          </div>
        </td>
      </tr>
    }
  </table>
</div>
