<div class="list-wrapper">
  <h2>Listado de usuarios</h2>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre de usuario</th>
      <th>Contraseña</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Rol</th>
      <th>Creado</th>
      <th>Actualizado</th>
      <th>Acciones</th>
    </tr>
    </thead>

    <tbody>
      @if (users && users.length > 0) {
        @for (user of users; track user.id) {
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.password }} €</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.date_create | dataFormat }}</td>
            <td>{{ user.date_update | dataFormat }}</td>

            <td>
              <button (click)="editUser(user.id!)">Editar</button>
              <button (click)="deleteUser(user.id!)">Eliminar</button>
            </td>
          </tr>
        }
      } @else {
        <tr>
          <td colspan="16" class="no-clients-cell">
            <div class="no-clients-card">
              <h3>Sin Usuario</h3>
              <p>No hay Usuarios disponibles en este momento.</p>
            </div>
          </td>
        </tr>
      }
    </tbody>


  </table>
</div>
